[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
ipywidgets = "*"
tensorflow = "*"
tqdm = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
requests = "*"
google-cloud = "*"
google-cloud-bigquery = "*"
joblib = "*"
mecab-python3 = "*"
mojimoji = "*"
scikit-learn = "*"
gensim = "*"
notify-run = "*"
wordcloud = "*"
plotly = "*"

[requires]
python_version = "3.7"
